{% extends "stamps/base.html" %}
{% load static %}

{% block title %}{{ year.year }} Commemorative Stamps{% endblock %}

{% block content %}
<div class="content-wrapper">
    <div class="main-container">
	<h2 class="home-title">{{ year }} Commemorative Stamps</h2>
 	<hr class="thin-separator">
        <div class="stamp-grid">
            {% for stamp in stamps %}
            <div class="stamp-item">
                {% if stamp.image %}
                    <a href="{% url 'stamp_detail' stamp.id %}" class="stamp-link">
                        <img src="{{ stamp.image.url }}" alt="{{ stamp.name }}" class="stamp-image">
                    </a>
                {% endif %}
                <a href="{% url 'stamp_detail' stamp.id %}" class="stamp-link">
                    <p class="stamp-date">{{ stamp.issue_date|date:"F j, Y" }}</p>
                </a>
                <p class="stamp-titleyear">{{ stamp.name }}</p>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="year-widget">
        <div class="year-header">Display Year</div>
        <div class="year-list">
            {% for y in years %}
                <a href="{% url 'year_detail' y.year %}">{{ y.year }}</a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
